---
import BaseLayout from '@layouts/BaseLayout.astro'
import HorizontalCard from '@components/HorizontalCard.astro'
import { getCollection } from 'astro:content'
import createSlug from '../lib/createSlug'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const last_posts = posts.slice(0, 3)

console.log('posts', posts)
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">μ•λ…•ν•μ„Έμ” π‘‹</div>
    <div class="mt-4 text-5xl font-bold leading-[60px]">
      4λ…„μ°¨ ν”„λ΅ νΈμ—”λ“ κ°λ°μ <br />λ°•λ―Όμ§€ μ…λ‹λ‹¤.
    </div>

    <div class="mt-4">
      <p class="text-lg text-[#ededed] leading-[1.6]">
        νƒ€μ΄νΈν• μΌμ • μ†μ—μ„λ„ ν€μ›λ“¤κ³Ό μ κ·Ήμ μΌλ΅ ν‘μ—…ν•μ—¬,<br />
        μ£Όμ–΄μ§„ μ‹κ°„ λ‚΄μ— μµμ ν™”λ κ²°κ³Όλ¬Όμ„ μ§€μ†μ μΌλ΅ λ§λ“¤μ–΄λƒμµλ‹λ‹¤.<br />
        UI/UX κ°μ„ κ³Ό μ„±λ¥ μµμ ν™” λ“± μ½”λ“ ν’μ§ ν–¥μƒμ— λ†’μ€ κ΄€μ‹¬μ„ κ°€μ§€κ³  μμΌλ©°,<br />
        ν”„λ΅μ νΈλ¥Ό μ§„ν–‰ν•  λ•λ§λ‹¤ μ¤μ¤λ΅ νκ³ λ¥Ό ν†µν•΄ μ•„μ‰¬μ› λ λ¶€λ¶„μ„ λ¶„μ„ν•κ³ ,<br />
        λ‹¤μ ν”„λ΅μ νΈμ— λ°μν•μ—¬ μ μ§„μ μΌλ΅ κ°μ„ ν•΄ λ‚κ°€λ” κ°λ°μ„ μ§€ν–¥ν•©λ‹λ‹¤.
      </p>
    </div>
    <div class="mt-8">
      <a class="btn bg-primary" href="https://github.com/ilacilac" target="_blank">Go to GitHub!</a>
      <!-- <a
        href="https://github.com/manuelernestog/astrofy"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Get This template
      </a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10 bg-">μµμ‹ κΈ€</div>
  </div>

  {
    last_posts.map((post) => {
      const newSlug = createSlug(post.data.title, post.slug)

      return (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={`/blog/${newSlug}`}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      )
    })
  }
</BaseLayout>
