---
import Layout from '@/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import { getCollection } from 'astro:content'
import { formatDate } from '@/lib/utils'

import styles from './styles.module.scss'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class={styles['main']}>
    <section>
      <h2 class="a11y-hidden">RECENT POSTS</h2>
      <ul class={styles['posts-wrap']}>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}/`} class={styles['link']}>
                {/* <img width={720} height={360} src={post.data.heroImage} alt="" /> */}
                <p class={styles['date']}>{formatDate(post.data.date)}</p>
                <div class={styles['title-wrap']}>
                  <h3 class={styles['title']}>{post.data.title}</h3>
                  <h4 class={styles['description']}>{post.data.description}</h4>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <!-- <Button>test</Button> -->
    </section>
  </main>
  <!-- <Footer /> -->
</Layout>
