---
import Layout from '@/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import { getCollection } from 'astro:content'

import styles from './styles.module.scss'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}/`} class={styles['test']}>
                {/* <img width={720} height={360} src={post.data.heroImage} alt="" /> */}
                <h4 class="title">{post.data.title}</h4>
                {/* <p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p> */}
              </a>
            </li>
          ))
        }
      </ul>
      <Button>test</Button>
    </section>
  </main>
  <!-- <Footer /> -->
</Layout>
